<header class="text-center">
  <img src="assets/logo.png" alt="Ironhack - Coding School" width="200px" class="m-4">
  <h1>JS Lessons</h1>
</header>
<section id="basic-section" class="container">
  <div class="col-md-10 text-center section-title">
    <h2>BASIC JAVASCRIPT</h2>
  </div>
  <div class="col-md-10">
    <ul>
        <a *ngFor="let item of pageOfItems" [href]="item.link"
            target="_blank">
            <li>
                {{item.title}}
            </li>
        </a>
    </ul>
    <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</section>
